node_modules/
dist/
.env
*.log
storage/photos/*
storage/frames/*
!storage/photos/.gitkeep
!storage/frames/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
photobooth-client/db/*
photobooth-client/out/
.DS_Store
*.local
